<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My app</title>
    <link rel="stylesheet" href="home.html">
</head>
<body>
    <div class="button-container">
          <a class="btn btn-primary" href="addBranch">Add New Branch</a>
        <br>
        <br>
      <a class="btn btn-primary" href="changeOwner">Change Owner</a>
        <br>
                <br>
      <button >
          <a href="display">
              Show all the branch
          </a>
      </button>
    </div>

</body>
</html>